.vscode/
__pycache__/
.idea/
logs/
wandb/
policy_value/Training
policy_value/Eval
policy_value/train_fiar_copy1.py
policy_value/train_fiar_copy2.py
policy_value/train_fiar_copy3.py
policy_value/train_fiar_copy4.py
policy_value/train_fiar_copy5.py
policy_value/train_fiar_copy6.py
policy_value/mcts_copy.py
policy_value/policy_value_network_copy.py
fiar_env_copy.py
*.log
*.out
*.model
*.zip
*.png
*.csv