.vscode/
__pycache__/
.idea/
logs/
wandb/
policy_value/Training
policy_value/Eval
policy_value/train_fiar_copy1.py
*/train_fiar_copy2.py
*/train_fiar_copy3.py
*/train_fiar_copy4.py
*/train_fiar_copy5.py
*/train_fiar_copy6.py
*/train_fiar_copy7.py
prev_codes/mcts_copy.py
*/policy_value_network_copy.py
fiar_env_copy.py
*.log
*.out
*.model
*.zip
*.png
*.c
.DS_Store
policy_value/.DS_Store