.vscode/
__pycache__/
.idea/
logs/
wandb/
policy_value/Training
policy_value/Eval
gamefile/
prev_codes/

*/train_fiar_*.py
/policy_value/ploting
*/fiar_env_*.py
*/efficient_mcts_*.py
*/planning_depth.py
*/cal_flops.py
*/cal_flops8.py

*.log
*.out
*.model
*.zip
*.png
*.c
.DS_Store
policy_value/.DS_Store